[Unit]
Description=MariaDB monitoring script

[Service]
Type=simple
ExecStart=/usr/local/bin/mariadb-monitor.py

[Install]
WantedBy=multi-user.target
