#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#
# HARDWARE SPECIFICATION NOTE
# Configurations here are targeted for a modern CPU with 48 physical cores, 
# 1TB of RAM, and with fast, RAID 10 NVMe PCI-E SSD storage
# Please make adjustments based on your deployment's hardware
# If you have questions about how to tune your server,
# or anything else related to covered products or services,
# please contact MariaDB Technical Support at
# https://support.mariadb.com

# this is read by the standalone daemon and embedded servers
[server]
# Replication configuration
server_id                           = 1
log_bin                             = mariadb-bin.log
log_bin_trust_function_creators     = TRUE
expire_logs_days                    = 7
log_slave_updates                   = ON
binlog_cache_size                   = 1M
binlog_format                       = mixed
slave_parallel_mode                 = conservative
slave_parallel_threads              = 48
binlog_commit_wait_count            = 1000

# Log configuration
log_error                           = /var/log/mariadb/error.log
log_warnings                        = 9
innodb_print_all_deadlocks          = ON
long_query_time                     = 1

# Performance Schema configuration
performance_schema                  = ON

# Network configuration and tuning
bind_address                        = 0.0.0.0
max_connections                     = 7000
max_allowed_packet                  = 32M
net_write_timeout                   = 900
net_read_timeout                    = 900

# Security
symbolic-links                      = 0

# ACID configuration
# The below is performant but not ACID-safe,
# please see https://mariadb.com/kb/en/replication-and-binary-log-system-variables/#sync_binlog
sync_binlog                         = 0
innodb_flush_log_at_trx_commit      = 0

# SQL compatibility
sql_mode                            = NO_ENGINE_SUBSTITUTION
character_set_server                = utf8mb3

# Optimizer configuration
optimizer_use_condition_selectivity = 1
optimizer_switch                    = 'rowid_filter=off'
optimizer_search_depth              = 11
use_stat_tables                     = NEVER
eq_range_index_dive_limit           = 0

# Lock tuning
lock_wait_timeout                   = 14400

# General tuning
tmp_table_size                      = 64M
max_heap_table_size                 = 64M
table_open_cache                    = 32642
table_definition_cache              = 524288

# InnoDB configuration
innodb_change_buffering             = NONE
innodb_strict_mode                  = OFF
innodb_print_all_deadlocks          = ON

# InnoDB tuning
innodb_buffer_pool_size             = 640G
innodb_buffer_pool_chunk_size       = 10G
innodb_log_file_size                = 64G
innodb_io_capacity                  = 1200
innodb_max_dirty_pages_pct_lwm      = 50
innodb_flush_neighbors              = 0
innodb_sync_spin_loops              = 20
innodb_read_io_threads              = 10
innodb_write_io_threads             = 8
innodb_purge_batch_size             = 5000
innodb_max_purge_lag                = 5000000


# MyISAM tuning
myisam_sort_buffer_size             = 256K